src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">





	<flow
		name="get-ticket-by-pnr"
		doc:id="0796ba65-ae78-41d5-b78e-9bbcc62d52ac">
		<json-logger:logger-scope doc:name="Logger scope" doc:id="0e091945-3650-4a05-9927-ffb7f9e99d77" >
			<ee:transform>
            <ee:message>
				<ee:set-payload resource="dw/sample-ticket-json.dwl" />
            </ee:message>
        </ee:transform>
		</json-logger:logger-scope>
	</flow>





	<flow name="payment-approval-by-pnr" doc:id="71b43bd6-b6b1-47a4-a782-3d80d9b9be74" >
		<json-logger:logger doc:name="Logger" doc:id="29b525ce-1df9-429c-94cc-ad1ba4c3d048" config-ref="JSON_Logger_Config" message="#['Approving in by PNR']" />
		<ee:transform>
            <ee:message>
				<ee:set-payload resource="dw/sample-ticket-json.dwl" />
            </ee:message>
        </ee:transform>
		<json-logger:logger doc:name="Copy_of_Logger" doc:id="0ba821ba-f8ac-41d6-bbd2-92e2d9702115" config-ref="JSON_Logger_Config" tracePoint="END" message="#['Approved in by PNR']" />
	</flow>





	<flow name="check-in-by-pnr" doc:id="089290f1-28b2-43d1-8b3a-6bfeda95c7e9" >
		<json-logger:logger doc:name="Copy_of_Logger" doc:id="f14ba60a-10d8-48aa-8579-0460b11f2242" config-ref="JSON_Logger_Config" message="#['Checking in by PNR']" />
		<ee:transform>
            <ee:message>
				<ee:set-payload resource="dw/payment-id-json.dwl" />
            </ee:message>
        </ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="7c072c4b-80bb-44c0-a647-74f85ecc2c35" config-ref="JSON_Logger_Config" message="#['Checked in by PNR']" tracePoint="END"/>
	</flow>





</mule>
